body,td,th {
	font-family: Arial;
	font-size: 11px;
	color: #717171;
	vertical-align: top;	
	line-height:14px;
}
img{border:0;}
a {
	font-family:Arial;
	font-size: 11px;	
	color: #106DA7;		
}
a:visited {
	color: #000000;
}
a:hover {
	color: #106DA7;
}
a:active {
	color: #000000;	
}
.style-g{
	color:#75B417;	
}
.style-b{
	color:#106DA7;
}






